/*
 * 企业列表
 */

.pane-detail-logo {
	width: 100px;
	height: 80px;
}

.auto-word-break-wrap {
  word-wrap: break-word;
  word-break: normal;
}

.list-ext-text-right {
  text-align: right;
}