/*
 * 首页样式
 */

$call-count1: #66D8AD;
$call-count2: #24C7A9;
.home-row {
  position: relative;
  display: block;
  width: 100%;
  min-width: 960px;
  height: auto;
  .home-half-l {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
  }
  .home-half-r {
    margin-left: 50%;
    padding-left: rem(20px);
    width: 50%;
  }
  .home-l {
    position: absolute;
    top: 0;
    left: 0;
    width: 58.375%;
  }
  .home-r {
    margin-left: 58.375%;
    padding-left: rem(20px);
    width: 41.635%;
  }
  .home-sms-l {
    width: 75%;
  }
  .home-sms-r {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: rem(20px);
    width: 25%;
  }
  .home-pms-l {
    width: 80%;
  }
  .home-pms-r {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: rem(20px);
    width: 20%;
  }
}

.home-call {
  display: flex;
  justify-content: space-between;
}

.home-call-item {
  width: rem(126px);
  height: rem(146px);
  font-size: rem(100px);
  line-height: rem(146px);
  text-align: center;
  font-weight: 600;
  color: #fff;
  background-image: linear-gradient(-138deg, #66D8AD 0%, #24C7A9 100%);
  border-radius: 4px;
}

.home-header {
  font-size: rem(18px);
  color: $color-dark;
}

.home-todo-list {
  display: flex;
  justify-content: space-between;
  margin-top: rem(20px);
}

.home-todo-item {
  float: left;
  width: 20%;
  text-align: center;
  &>p:first-child {
    font-size: rem(40px);
    color: $color-extra-dark;
  }
  &>p:nth(2) {
    font-size: rem(14px);
    color: $color-normal;
  }
  &>p:nth(3) {
    margin-top: rem(10px);
  }
  a {
    color: $theme-primary;
  }
  a.dis {
    color: $color-light;
    cursor: pointer;
  }
  &.pointer {
    transition: background .2s linear;
    &:hover {
      background: #efefef;
    }
  }
}

.home-opr {
  margin-top: rem(15px);
  height: rem(36px);
  line-height: rem(34px);
  .icon-download {
    margin-left: rem(10px);
    font-size: rem(25px);
    color: $theme-default_hover;
    vertical-align: middle;
    cursor: pointer;
  }
}

.home-radio {
  .ivu-radio-wrapper {
    padding: 0 rem(12px);
    height: rem(36px);
    line-height: rem(34px);
    font-size: rem(16px);
    color: $color-extra-dark;
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
    &:hover {
      color: $color-extra-dark;
      opacity: .8;
    }
  }
  .ivu-radio-wrapper-checked {
    color: #fff;
    background: $theme-primary;
    &:hover {
      color: #fff;
      opacity: .8;
    }
  }
}

.home-radio-r {
  .ivu-radio-wrapper {
    margin-right: rem(20px);
    padding: 0 rem(20px);
    height: rem(36px);
    line-height: rem(34px);
    font-size: rem(16px);
    color: $color-extra-dark;
    background: $background-color-light;
    border: none;
    &:before,
    &:after {
      display: none;
    }
    &:first-child {
      border: none;
      border-radius: 2px;
    }
    &:last-child {
      border: none;
      border-radius: 2px;
    }
    &:hover {
      color: $color-extra-dark;
      opacity: .8;
    }
  }
  .ivu-radio-wrapper-checked {
    color: #fff;
    background: $theme-default_hover;
    &:hover {
      color: #fff;
      opacity: .8;
    }
  }
}

.home-body {
  position: relative;
  height: auto;
  min-height: rem(420px);
}

.home-call-l {
  position: absolute;
  display: inline-block;
  top: rem(28px);
  left: 0;
  width: 20%;
}

.home-call-r {
  position: relative;
  display: inline-block;
  margin-left: 20%;
  width: 80%;
  height: auto;
}

.home-chart {
  margin-top: rem(20px);
  width: 100%;
  height: rem(500px);
}

.home-call-block {
  position: relative;
  margin-top: rem(30px);
  padding: rem(10px) 0;
  width: 100%;
  min-height: rem(80px);
  background: #F8F8F8;
  border-radius: rem(5px);
  .left {
    position: absolute;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: rem(10px);
    width: rem(30px);
    height: 100%;
  }
  .right {
    // float: right;
    margin-right: rem(10px);
    color: $color-normal;
    &>p {
      padding: rem(10px) 0;
      font-size: rem(12px);
      line-height: rem(20px);
      text-align: center;
      .circle {
        margin-right: rem(5px);
      }
    }
    &>.num {
      font-size: rem(35px);
      line-height: rem(40px);
      color: $color-extra-dark;
      white-space: nowrap;
    }
  }
  .circle {
    display: inline-block;
    vertical-align: middle;
    width: rem(30px);
    height: rem(30px);
    border: rem(5px) solid $color-normal;
    border-radius: 50%;
    transform: rotate(45deg);
    &.circle-purple {
      border-color: #EF44CA;
    }
    &.circle-blue {
      border-color: #02C1DE;
    }
    &.circle-green {
      border-color: #67C23A;
    }
  }
}

.echarts {
  width: 100%;
  height: 100%;
}

.home-row {
  overflow: hidden;
}

.home-fl {
  float: left;
}

.home-fr {
  overflow: hidden;
}

.home-info-status {
  color: #57636F;
  .flex-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
  }
  .card-header {
    span {
      margin-left: rem(20px); // font-size: rem(20px);
      display: block;
      margin-top: rem(20px);
    }
  }
  .card-body {
    padding: rem(20px);
    font-size: rem(16px);
    &.identity-body {
      margin-top: rem(4px);
      .text {
        img {
          width: rem(30px);
          vertical-align: middle;
          margin-right: rem(10px);
        }
      }
    }
    &.account-body {
      P {
        width: 33.33%;
      }
      padding: 0;
      &>div {
        margin: rem(20px) 0;
        line-height: rem(23px);
        height: rem(23px);
      }
      .time {
        font-size: rem(14px);
        color: #7d7d7d;
      }
      .day {
        margin-right: rem(5px);
      }
    }
    .num {
      font-size: rem(30px);
      color: #4877c1;
      letter-spacing: 0;
      margin-top: rem(30px);
    }
  }
}

.home-square-grid {
  margin: rem(50px) 0 rem(20px) rem(-20px);
  ul {
    height: rem(304px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .border1 {
    width: 30%;
    margin: rem(3px);
    border: 1px solid rgba(72, 119, 193, .1);
    min-width: rem(130px);
    min-height: rem(110px);
    .border2 {
      margin: rem(3px);
      border: 1px solid rgba(72, 119, 193, .3);
      min-height: rem(105px);
      .grid-content {
        font-size: rem(16px);
        margin: rem(3px);
        padding: rem(15px) 0;
        min-height: rem(96px);
        border: rem(2px) solid rgba(72, 119, 193, .6); // height: 11vh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        .up-text {
          font-size: rem(30px);
        }
        .contrast {
          font-size: rem(14px);
          color: #7d7d7d;
        }
        .up {
          color: #de0200 !important;
        }
        .down {
          color: #09a700;
        }
      }
    }
  }
}

.home-data-overview {
  color: #57636F;
  .home-opr {
    margin-top: rem(40px);
    margin-left: rem(20px);
  }
}

.home-data-dicator {
  .label {
    display: inline-block;
    margin-right: rem(10px);
    font-size: rem(14px);
  }
}

.home-indicator-echarts {
  height: rem(350px);
}
