.weixinPermisson {
  margin: 20px;
  padding-top: 65px;
  padding-bottom: 65px;
  color: #2c3e50;
  background: #ffffff; // width: 100%;\
  img {
    width: rem(50px);
    height: rem(50px);
    vertical-align: middle;
  }
  .weixinName {
    margin-left: 20px;
    line-height: 50px;
    font-size: 16px;
    span {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.float-layout {
  li {
    float: left;
    margin: rem(20px);
    width: rem(285px);
    height: rem(85px);
    line-height: rem(85px);
    border: 1px solid #e1e1e1;
    box-shadow: 1px 1px 10px #e1e1e1;
    font-size: 14px;
    div {
      float: left;
      width: 33.33%;
      text-align: center;
      img {
        width: rem(50px);
        height: rem(50px);
        vertical-align: middle;
      }
      &.accredited {
        color: #1b3;
      }
    }
  }
}
